<div
    class="ud-header absolute top-0 left-0 z-[1000] flex w-full items-center bg-transparent"
>
    <div class="container">
        <div class="relative -mx-4 flex items-center justify-between">
            <div class="w-60 max-w-full px-4">
                <a href="/" class="navbar-logo block w-full py-5">
                    <img
                        src="/images/logo-white.svg"
                        alt="logo"
                        class="header-logo w-full"
                    />
                </a>
            </div>
            <div class="flex w-full items-center justify-between px-4">
                <div>
                    <button
                        id="navbarToggler"
                        class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden"
                    >
                        <span
                            class="relative my-[6px] block h-[2px] w-[30px] bg-white"
                        ></span>
                        <span
                            class="relative my-[6px] block h-[2px] w-[30px] bg-white"
                        ></span>
                        <span
                            class="relative my-[6px] block h-[2px] w-[30px] bg-white"
                        ></span>
                    </button>
                    <nav
                        id="navbarCollapse"
                        class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-white py-5 shadow-lg lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent lg:py-0 lg:px-4 lg:shadow-none xl:px-6"
                    >
                        <ul class="blcok lg:flex">
                            <% homepage_sections.each do |section| %>
                                <li class="group relative">
                                    <a
                                        href="<%= relative_href(section) %>"
                                        class="<%= scroll_class %> mx-8 flex py-2 text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                                    >
                                        <%= section.label %>
                                    </a>
                                    </li>
                            <% end %>

                            <% top_level_pages.each do |page| %>
                                <li class="group relative">
                                    <a
                                        href="<%= page.relative_url %>"
                                        class="mx-8 flex py-2 text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                                    >
                                        <%= page.data.title  %>
                                    </a>
                                </li>
                            <% end %>

                            <li class="group relative">
                                <span class="mx-8 flex py-2 text-base font-extralight text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12 cursor-default items-center gap-1 select-none">
                                    Past Conferences
                                    <svg class="ml-1 w-3 h-3 opacity-70" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>
                                </span>
                                <ul class="lg:hidden group-hover:lg:block lg:absolute lg:top-full lg:left-0 lg:min-w-[180px] lg:bg-white lg:shadow-lg lg:rounded lg:py-2 pl-4 lg:pl-0">
                                    <li><a href="https://2025.rockymtnruby.dev/" target="_blank" class="block px-4 py-2 text-sm text-dark hover:text-primary lg:text-dark">2025</a></li>
                                    <li><a href="https://2024.rockymtnruby.dev/" target="_blank" class="block px-4 py-2 text-sm text-dark hover:text-primary lg:text-dark">2024</a></li>
                                    <li><a href="https://2023.rockymtnruby.dev/" target="_blank" class="block px-4 py-2 text-sm text-dark hover:text-primary lg:text-dark">2023</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <% if site.metadata.registration_open %>
                    <div class="justify-end pr-16 sm:flex lg:pr-0">
                        <a href="/tickets" class="signUpBtn rounded-3xl bg-[#2B1A99] bg-opacity-80 py-3 px-6 text-base font-medium text-white duration-300 ease-in-out hover:bg-opacity-100 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-[#2B1A99]" aria-label="Buy tickets for Rocky Mountain Ruby 2025">
                        Tickets
                        </a>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
