---
layout: page
title: Boulder Guide
top_level: false
---
<%
airport_transportation_options = [
	{href: 'https://app.rtd-denver.com/route/AB/schedule?serviceType=3&direction=Eastbound&branch=', inner_html: 'AB1 Bus', description: 'This bus takes you directly to Downtown Boulder'},
	{href: 'https://www.flydenver.com/parking_transit/transit/mobile-app-services', inner_html: 'DIA Instructions Page for Ride App Service', description: 'If you plan to take a ride-sharing service, the Denver International Airport provides some helpful tips/instructions.'},
	{href: 'https://www.flydenver.com/parking_transit/transit/shared-vans', inner_html: 'DIA Transportation Page', description: 'The Denver International Airport provides other options such as shared-rides and commuter trains.'},
]

coffee_places = [
	{href: 'https://www.boxcarcoffeeroasters.com/', inner_html: 'Boxcar Coffee Roasters', address: '1825 Pearl St, Boulder, CO 80302'},
	{href: 'https://january.coffee/', inner_html: 'January Coffee', address: '1886 30th St Suite B, Boulder, CO 80301'},
	{href: 'https://ozocoffee.com/ozo-east-pearl', inner_html: 'Ozo Coffee', address: '1521 Pearl St, Boulder, CO 80302'},
	{href: 'https://www.thelaughinggoat.com/', inner_html: 'The Laughing Goat', address: '1709 Pearl St, Boulder, CO 80302'},
]

food_places = [
	{href: 'https://boulder.avantifandb.com/', inner_html: 'Avanti Food and Beverage', address: '1401 Pearl St, Boulder, CO 80302'},
	{href: 'https://www.blackbelly.com/', inner_html: 'Blackbelly Market', address: '1606 Conestoga St Suite 1, Boulder, CO 80301'},
	{href: 'https://www.leafvegetarianrestaurant.com/', inner_html: 'Leaf Vegetarian Restaurant', address: '1617 Pearl St, Boulder, CO 80302'},
	{href: 'https://www.luciles.com/', inner_html: 'Lucile\'s Creole Cafe', address: '2124 14th St, Boulder, CO 80302'},
	{href: 'https://rosettahall.com/', inner_html: 'Rosetta Hall', address: '1109 Walnut St, Boulder, CO 80302'},
	{href: 'https://tacocolorado.com/', inner_html: 'T/aco', address: '1175 Walnut St, Boulder, CO 80302'},
	{href: 'https://zoemama.com', inner_html: 'Zoe Mama', address: '2010 10th St, Boulder, CO 80302'},
]

drink_places = [
	{href: 'https://bohemianbiergarten.com/', inner_html: 'Bohemian Biergarten', address: '2017 13th St, Boulder, CO 80302'},
	{href: 'https://www.license.no/', inner_html: 'License No. 1', address: '2115 13th St, Boulder, CO 80302'},
	{href: 'https://postinowinecafe.com/', inner_html: 'Postino', address: '1468 Pearl St suite 110, Boulder, CO 80302'},
	{href: 'https://upslopebrewing.com/', inner_html: 'Upslope Brewing Company', address: '1898 S Flatiron Ct, Boulder, CO 80301'},
]

activity_places = [
	{href: 'http://www.boulderteahouse.com/', inner_html: 'Dushanbe Teahouse'},
	{href: 'http://www.bcfm.org/', inner_html: 'Boulder Farmers Market'},
	{href: 'https://jdsjoyrides.com/', inner_html: 'JD\'s Joyrides - eBike Tours'},
	{href: 'https://www.southpearlstreet.com/', inner_html: 'Pear Street'},
	{href: 'https://streetwisearts.org/walking-tours/', inner_html: 'Streetwise Boulder Mural Walking Tour'},
]
%>
<div class="max-w-5xl mx-auto text-lg leading-relaxed text-[#404040] mb-20">
  <h2 class="mb-4 text-3xl font-bold text-primary sm:text-4xl md:text-[42px]">
    Welcome to Boulder!
  </h2>
  <p class="mb-8 text-base leading-relaxed">
    This guide will help you get to know the city and its surroundings and plan
    your time outside of the conference.
  </p>
  <h3 class="text-[28px] font-medium text-primary">Weather</h3>
  <p class="mb-8 text-base leading-relaxed">
      The weather in Boulder is generally sunny and dry, with low humidity. In
      early October, daytime temperature are normally in the uppers 60s and low
      70s (18째-23째C) and the average low is 40째F (4째C).
  </p>
  <h3 class="text-[28px] font-medium text-primary">Transportation</h3>
  <h4 class="text-[20px] font-medium text-primary">From the Airport</h4>
	<% airport_transportation_options.each do |transport| %>
		<ul>
				<li class="px-3">
						<a href="<%= transport[:href] %>" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
							<%= transport[:inner_html] %>
						</a>
						<p class="mb-8 text-base leading-relaxed">
							<%= transport[:description] %>
						</p>
				</li>
		</ul>
	<% end %>
  <h3 class="text-[28px] font-medium text-primary">Coffee</h3>
  <div class="mb-10 w-full">
		<% coffee_places.each do |place| %>
      <ul>
          <li class="px-3">
              <a href="<%= place[:href] %>" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
								<%= place[:inner_html] %>
              </a>
              <address class="text-base leading-relaxed">
								<%= place[:address] %>
              </address>
          </li>
      </ul>
		<% end %>
  </div>
  <h3 class="text-[28px] font-medium text-primary">Food</h3>
  <div class="mb-10 w-full">
		<% food_places.each do |place| %>
			<ul>
					<li class="px-3">
							<a href="<%= place[:href] %>" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
								<%= place[:inner_html] %>
							</a>
							<address class="text-base leading-relaxed">
								<%= place[:address] %>
							</address>
					</li>
			</ul>
		<% end %>
  </div>
  <h3 class="text-[28px] font-medium text-primary">Drinks</h3>
  <div class="mb-10 w-full">
		<% drink_places.each do |place| %>
			<ul>
					<li class="px-3">
							<a href="<%= place[:href] %>" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
								<%= place[:inner_html] %>
							</a>
							<address class="text-base leading-relaxed">
								<%= place[:address] %>
							</address>
					</li>
			</ul>
		<% end %>
  </div>
  <h3 class="text-[28px] font-medium text-primary">Activities</h3>
  <div class="mb-10 w-full">
		<% activity_places.each do |place| %>
			<ul>
					<li class="px-3">
							<a href="<%= place[:href] %>" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-dark">
								<%= place[:inner_html] %>
							</a>
					</li>
			</ul>
		<% end %>
  </div>
</div>
