<section id="sponsors" class="pt-20 md:pt-[120px]">
    <div class="container px-4">
        <div class="flex flex-wrap">
            <div class="mx-4 w-full">
                <div class="mx-auto mb-[60px] text-center lg:mb-10">
                    <span class="mb-2 block text-lg font-semibold text-primary">
                        Sponsors
                    </span>
                    <p
                        class="text-lg leading-relaxed text-body-color sm:text-xl sm:leading-relaxed"
                    >
                        Rocky Mountain Ruby wouldn't be possible without the support of our generous sponsors.
                    </p>
                </div>
            </div>
        </div>
        <% all_sponsors = site.data.sponsors.select {|sponsor| sponsor.enabled } %>
        <% site.data.sponsor_levels.each do |level| %>
            <% sponsors = all_sponsors.select {|sponsor| sponsor.level == level.name } %>
            <% unless sponsors.empty? %>
                <div class="flex flex-wrap mb-4">
                    <div class="mx-4 w-full">
                        <div class="wow fadeInUp" data-wow-delay=".2s">
                            <div class="ud-title my-4">
                                <h4 class="text-center font-semibold text-lg text-<%= level.name -%> mb-8"><%= level.title %> Sponsors</h4>
                            </div>
                            <div class="ud-brands-logo flex flex-wrap items-center justify-center">
                                <% sponsors.each do |sponsor| %>
                                    <div class="ud-single-logo mx-10 mb-5 sponsor-<%= level.name -%>">
                                        <a
                                            href="<%= sponsor.url %>"
                                            target="_blank"
                                            rel="nofollow noopner"
                                            title="<%= sponsor.name %>"
                                        >
                                            <img
                                                src="/images/sponsors/<%= sponsor.logo %>"
                                                alt="<%= sponsor.name %>"
                                                class="grayscale duration-300 hover:filter-none"
                                            />
                                        </a>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="flex flex-wrap">
        <div class="mx-4 w-full">
            <div class="mx-auto mb-[60px] text-center lg:mb-10">
                <p
                    class="text-lg leading-relaxed text-body-color sm:text-xl sm:leading-relaxed"
                >
                    Interested in supporting Rocky Mountain Ruby? Find out about <a href="/sponsorship" class="text-dark hover:text-primary" target="_blank">sponsorship</a>.
                </p>
            </div>
        </div>
    </div>
</section>
