<div class="sponsors-sky">
    <div class="clouds-wrapper" style="position: absolute; width: 100%; overflow-x: visible; ">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
        <div id="cloud3" class="cloud"></div>
    </div>
    <img src="/assets/images/sponsors/header-mountain.svg" class="mountain" />
</div>
<section id="sponsors">
    <div class="container">
        <header class="max-w-[600px] text-white">
            <h1>Sponsors</h1>
            <h3 class="leading-tight">
                Rocky Mountain Ruby wouldn't be possible without the support of our generous sponsors.
            </h3>
            <p class="text-sm font-light mt-[10px]">
                Interested in supporting Rocky Mountain Ruby? Find out about <a href="/sponsorship" class="font-bold hover:text-primary" target="_blank">sponsorship</a>.
            </p>
        </header>
        <div class="flex flex-wrap relative z-20 gap-[20px] py-[40px]">
            <% all_sponsors = site.data.sponsors.select {|sponsor| sponsor.enabled } %>
            <% site.data.sponsor_levels.each do |level| %>
                <% sponsors = all_sponsors.select {|sponsor| sponsor.level == level.name } %>
                <% unless sponsors.empty? %>
                    <div class="bg-white <%= (level.name == "emerald" || level.name == "sapphire") ? "w-full" : "secondary-sponsors" %>">
                        <div class="wow fadeInUp" data-wow-delay=".2s">
                            <div class="ud-title my-4">
                                <h3 class="text-center font-bold mb-8"><%= level.title %> Sponsors</h3>
                            </div>
                            <div class="ud-brands-logo flex flex-wrap items-center justify-center">
                                <% sponsors.each do |sponsor| %>
                                    <div class="ud-single-logo mx-10 mb-5 sponsor-<%= level.name -%>">
                                        <a
                                            href="<%= sponsor.url %>"
                                            target="_blank"
                                            rel="nofollow noopner"
                                            title="<%= sponsor.name %>"
                                        >
                                            <img
                                                src="/images/sponsors/<%= sponsor.logo %>"
                                                alt="<%= sponsor.name %>"
                                            />
                                        </a>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</section>
