<% width, max_width = case sponsor.level
                      when 'ruby' then ['120px', '120px']
                      when 'sapphire' then ['100px', '100px']
                      else ['80px', '80px']
                      end %>

<li>
    <a
        href="<%= sponsor.url %>"
        rel="nofollow noopner"
        target="_blank"
        class="mb-6 mr-8 block"
        style="max-width: <%= max_width %>; width: <%= width %>;"
    >
        <img
            src="/images/sponsors/<%= sponsor.footer_logo ? sponsor.footer_logo : sponsor.logo %>"
            alt="<%= sponsor.name %>"
        />
    </a>
</li>
